h4#language-heading

.info-panel.panel.panel-default(style='display: none')
  .panel-heading
    span= "Country of Origin"
  .panel-body
    ul.list-group
      li.list-group-item
        span= "North American Aboriginal "
        strong.badge.pull-right
          span#origin-one
          | %
      li.list-group-item
        span= " Other North American "
        strong.badge.pull-right
          span#origin-two
          | %
      li.list-group-item
        span= " European ethnicity "
        strong.badge.pull-right
          span#origin-three
          | %
      li.list-group-item
        span= " Caribbean "
        strong.badge.pull-right
          span#origin-four
          | %
      li.list-group-item
        span= " Latin, Central and South American "
        strong.badge.pull-right
          span#origin-five
          | %
      li.list-group-item
        span= " African "
        strong.badge.pull-right
          span#origin-six
          | %
      li.list-group-item
        span= " Asian "
        strong.badge.pull-right
          span#origin-seven
          | %
      li.list-group-item
        span= "Ethnic Oceania "
        strong.badge.pull-right
          span#origin-eight
          | %
